ul {
    text-align: left;
    margin-top: 3rem;
}

li {
    padding: 0.5em 0;
    &:before {
        content: '';
        position: relative;
        display: inline-block;
        width: 0.7em;
        height: 1px;
        border-bottom: 1px solid $color-black;
        margin-right: 0.5em;
        vertical-align: 0.3em;
    }
}
