$space: 4rem;
.slide {
    position: absolute;
    width: calc(100% - #{$space} * 2);
    height: calc(100vh - #{$space} * 2);
    opacity: 0;
    background-color: $color-white;
    color: $color-black;
    pointer-events: none;
    will-change: transform;
    padding: $space;
}

.slide--active {
    opacity: 1;
    animation-duration: 0.8s;
}

.slide--left {
    animation-name: slide_from_left;
}

.slide--right {
    animation-name: slide_from_right;
}

@keyframes slide_from_left {
    from {
        opacity: 0;
        transform: translateX(100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0vw);
    }
}

@keyframes slide_from_right {
    from {
        opacity: 0;
        transform: translateX(-100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0vw);
    }
}
