$space: 4rem;
.slide {
    position: absolute;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-white;
    color: $color-black;
    will-change: transform;
    pointer-events: none;
    &:nth-child(1) {
        background-color: $color-green;
        color: $color-white;
    }
}

.slide__inner {
    width: calc(100% - #{$space} * 2);
    height: calc(100% - #{$space} * 2);
    padding: $space;
}

.slide--green {
  background-color: $color-green;
  color: $color-white;
}

.slide--active {
    opacity: 1;
    animation-duration: 0.8s;
    pointer-events: all;
}

.slide--left {
    animation-name: slide_from_left;
}

.slide--right {
    animation-name: slide_from_right;
}

@keyframes slide_from_left {
    from {
        opacity: 0;
        transform: translateX(100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0vw);
    }
}

@keyframes slide_from_right {
    from {
        opacity: 0;
        transform: translateX(-100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0vw);
    }
}
