.slides-controll {
    position: absolute;
    bottom: 5rem;
}

.slides-controll__prev,
.slides-controll__next {
    width: 50vw;
    height: 100vw;
    position: fixed;
    top: 0;
    border: none;
    &:focus {
        outline: none;
    }
    background-color: transparent;
}

.slides-controll__prev { left: 0; }

.slides-controll__next {  right: 0; }

.button--disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
