$color-green: #005659;
$color-black: #323232;
$color-white: white;
$color_gold: rgba(194, 170, 133, 1.0);
html,
body {
    background-color: $color-green;
}

body {
    font-size: 20px;
    color: $color-white;
    font-family: 'Neutra Text'; // position: absolute;
    // top: 0;
    // left: 0;
    width: 100vw;
    height: 100vh;
}

@import 'styles/_reset.scss';
@import 'styles/_logo.scss';
@import 'styles/_animations.scss';
@import 'styles/_list.scss';
@import 'styles/_slides.scss';
@import 'styles/_mockup.scss';
@import 'styles/_mockup-wide.scss';
@import 'styles/_slidescontroll.scss';
h1 {
    font-size: 3.5rem;
    letter-spacing: 0.03em;
}

.box--centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text--centered {
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
}

iframe {
    width: 100%;
    height: 100%;
}
